* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: UniNeueRegular;
  color: #372243;
  text-align: center;
}

h2 {
  font-size: 30px;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: #696666;
  padding: 5px 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

h2:after {
  display: block;
  content: '';
  height: 5px;
  width: 70px;
  border-radius: 10px;
  background: #fed000;
  margin: 0 auto;
}

nav {
  height: 108px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 20px 0 50px;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

nav #btn {
  display: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

nav #X {
  display: none;
  color: white;
  font-size: 30px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

nav #box2 {
  display: none;
}

nav .box1 {
  width: 820px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .box1 #lang {
  background: #372243;
  border-radius: 5px;
  text-transform: uppercase;
  width: 51px;
}

nav .box1 #lang a {
  color: #fed000;
  background: #372243;
}

nav .box1 #lang #ru,
nav .box1 #lang #eng {
  padding: 0;
  font-size: 18px;
}

nav .box1 #lang #ru {
  text-decoration: underline;
}

nav .box1 #lang:hover {
  background: #372243;
}

nav .box1 a:hover {
  background: #fed000;
  border-radius: 5px;
}

@media screen and (max-width: 779px) {
  header nav {
    padding: 5px;
  }
  header nav a {
    font-size: 16px;
  }
}

@media screen and (max-width: 719px) {
  header nav a {
    font-size: 13.8px;
  }
}

@media screen and (max-width: 655px) {
  header nav {
    height: 45px;
    position: fixed;
    z-index: 1;
    background: #fed000;
  }
  header nav .box1 {
    padding-top: 37px;
    display: none;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 0;
    left: 0;
  }
  header nav .box1 a {
    font-size: 16px;
    display: block;
    color: white;
    width: 180px;
    margin: 0 auto;
  }
  header nav .box1 #lang {
    background: none;
    width: 51px;
    margin: 0 auto;
  }
  header nav .box1 #lang #ru,
  header nav .box1 #lang #eng {
    width: 51px;
  }
  header nav #btn {
    cursor: pointer;
    display: block;
  }
  header nav #box2 {
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
  }
  header nav #X {
    position: absolute;
    right: 10px;
    top: 10px;
  }
  header nav img {
    width: 35px;
  }
  main {
    padding-top: 45px;
  }
}

.sec1 {
  background-image: url(img/fon1.png);
  background-size: 100% 100%;
  height: 466px;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.sec1 .text {
  width: 300px;
  height: 150px;
  background: url(img/fon2.png) no-repeat;
  background-size: contain;
  padding-top: 30px;
  position: absolute;
  top: 160px;
  right: 135px;
}

.sec1 .text p {
  color: white;
  font-size: 30px;
}

.sec2 {
  padding: 50px;
}

.sec2 .p2_1 {
  width: 90%;
  margin: 0 auto;
  font-size: 24px;
}

.sec2 h2 {
  margin-top: 50px;
}

.sec2 .p2_2 {
  width: 90%;
  margin: 20px auto;
  color: #6b646f;
}

.sec2 .img2 {
  width: 90%;
  margin: 0 auto;
}

.sec2 .img2 img {
  width: 100%;
}

.sec3 .p3 {
  margin-top: 20px;
}

.sec3 .box3 {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px auto;
}

.sec3 .box3 .box3_1 {
  width: 30%;
}

.sec3 .box3 .box3_1 .circle {
  width: 100px;
  height: 100px;
  background: #fed000;
  border-radius: 50%;
  line-height: 100px;
  font-size: 60px;
  color: white;
  margin: 0 auto;
}

.sec3 .box3 .box3_1 .p3_1 {
  width: 81%;
  margin: 20px auto;
  font-size: 20px;
}

.sec4 {
  margin-top: 30px;
}

.sec4 .p4_1 {
  margin-top: 20px;
}

.sec4 .p4_2 {
  font-size: 14px;
  margin: 20px auto;
  width: 60%;
}

.sec4 a {
  background: #fed000;
  border-radius: 20px;
  color: #372243;
  font-size: 14px;
}

.sec5 {
  margin-top: 30px;
}

.sec5 .p5_1 {
  width: 70%;
  margin: 20px auto;
}

.sec5 .img5 {
  width: 85%;
  margin: 0 auto;
}

.sec5 .img5 img {
  width: 100%;
  max-height: 437px;
  max-width: 1152px;
}

.sec5 .p5_2 {
  font-size: 24px;
  text-transform: uppercase;
  margin-top: 30px;
}

.sec5 .box5 {
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px auto;
}

.sec5 .box5 .box5_1 {
  width: 25%;
}

.sec5 .box5 .box5_1 img {
  width: 47%;
  max-width: 143px;
}

.sec5 .box5 .box5_2 {
  width: 40%;
}

.sec5 .box5 .box5_2 img {
  width: 100%;
}

.sec5 .box5 p {
  width: 80%;
  margin: 10px auto;
}

.sec5 .p5_3 {
  font-size: 20px;
  width: 45%;
  margin: 20px auto;
}

.sec6 {
  background: #fafafa;
  padding: 50px 0;
}

.sec6 span {
  text-transform: uppercase;
}

.sec6 .img6 {
  margin: 30px auto 0;
  width: 50%;
  max-width: 513px;
}

.sec6 .img6 img {
  width: 100%;
}

.sec7 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: -webkit-gradient(linear, left top, right top, color-stop(47%, #deeaff), color-stop(50%, #fed000));
  background: linear-gradient(to right, #deeaff 47%, #fed000 50%);
}

.sec7 .box7 {
  width: 50%;
}

.sec7 .box7_1 img {
  width: 100%;
  height: 100%;
  max-height: 672px;
}

.sec7 .box7_2 {
  position: relative;
  padding: 40px 0 0 40px;
}

.sec7 .box7_2 .box7_2_1 {
  width: 40%;
  height: 40%;
  position: absolute;
  bottom: 25px;
  right: 0;
}

.sec7 .box7_2 .box7_2_1 img {
  width: 100%;
}

.sec7 .box7_2 .box7_2_2 {
  background: url(img/fon3.png) no-repeat;
  background-size: 100% 100%;
  width: 60%;
  height: 30%;
  padding-top: 15px;
  width: 335px;
  height: 145px;
  color: white;
  font-size: 32px;
}

.sec7 .box7_2 .box7_2_2 span {
  color: white;
  font-size: 45px;
}

.sec7 .box7_2 .p7 {
  width: 60%;
  font-size: 28px;
  text-align: left;
  margin-top: 40px;
}

@media screen and (max-width: 1024px) {
  .sec1 {
    height: 380px;
  }
  .sec1 .text {
    top: 110px;
    right: 75px;
  }
  .sec7 .box7_2 .p7 {
    font-size: 20px;
  }
  .sec7 .box7_2 .box7_2_1 img {
    width: 70%;
    bottom: -20px;
    left: 38px;
    position: absolute;
  }
}

@media screen and (max-width: 768px) {
  .sec1 {
    height: 280px;
  }
  .sec1 .text {
    width: 220px;
    top: 85px;
    right: 65px;
    padding-top: 25px;
  }
  .sec1 .text p {
    font-size: 20px;
  }
  .sec2 {
    padding: 25px;
  }
  .sec2 .p2_1,
  .sec2 .p2_2,
  .sec2 .img2 {
    width: 90%;
  }
  .sec2 .p2_1 {
    text-align: justify;
    font-size: 21px;
  }
  .sec2 h2 {
    margin-top: 20px;
  }
  .sec2 .p2_2 {
    text-align: justify;
  }
  .sec3 .p3 {
    margin-top: 10px;
  }
  .sec3 .box3 {
    width: 90%;
    margin: 10px auto;
  }
  .sec3 .box3 .box3_1 .p3_1 {
    width: 100%;
    font-size: 16px;
  }
  .sec4 {
    margin-top: 0;
  }
  .sec4 .p4_1 {
    margin-top: 10px;
  }
  .sec4 .p4_2 {
    margin: 15px auto;
    width: 90%;
    text-align: justify;
  }
  .sec5 {
    margin-top: 20px;
  }
  .sec5 .p5_1 {
    width: 90%;
    margin: 10px auto;
    text-align: justify;
  }
  .sec5 .img5 {
    width: 90%;
  }
  .sec5 .p5_2 {
    margin-top: 15px;
  }
  .sec5 .box5 {
    width: 90%;
    margin: 15px auto 5px;
  }
  .sec5 .box5 p {
    width: 100%;
    font-size: 14px;
  }
  .sec5 .box5 .box5_2 {
    width: 60%;
  }
  .sec5 .p5_3 {
    font-size: 18px;
    width: 90%;
    margin: 10px auto 20px;
  }
  .sec6 {
    padding: 0 0 10px;
  }
  .sec6 .img6 {
    margin: 20px auto 0;
    width: 60%;
  }
  .sec7 {
    height: 300px;
  }
  .sec7 .box7_2 {
    padding: 15px;
  }
  .sec7 .box7_2 .box7_2_2 {
    width: 275px;
    height: 105px;
    font-size: 21px;
  }
  .sec7 .box7_2 .box7_2_2 span {
    font-size: 34px;
  }
  .sec7 .box7_2 .p7 {
    width: 100%;
    text-align: justify;
    margin-top: 10px;
  }
}

@media screen and (max-width: 655px) {
  .sec2 h2,
  .sec3 h2,
  .sec4 h2,
  .sec5 h2,
  .sec6 h2 {
    margin-top: 5px;
    font-size: 20px;
  }
  .sec1 {
    height: 145px;
  }
  .sec1 .text {
    position: unset;
    background: none;
    width: 90%;
    margin: 0 auto;
  }
  .sec1 .text p {
    color: #fed000;
    font-size: 30px;
    font-weight: 800;
  }
  .sec2 {
    padding: 5px;
  }
  .sec2 .p2_1,
  .sec2 .p2_2 {
    width: 99%;
    margin: 10px auto;
    font-size: 14px;
  }
  .sec2 .img2 {
    width: 99%;
    margin: 0 auto;
  }
  .sec3 .box3 {
    margin: 5px auto 0;
  }
  .sec3 .box3 .box3_1 .p3_1 {
    font-size: 12px;
    margin: 5px auto;
  }
  .sec4 .p4_2 {
    width: 97%;
  }
  .sec5 .p5_1 {
    width: 97%;
    font-size: 14px;
  }
  .sec5 .p5_2 {
    font-size: 19px;
  }
  .sec5 .box5 {
    display: block;
  }
  .sec5 .box5 p {
    font-size: 17px;
  }
  .sec5 .box5 .box5_1 {
    width: 99%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .sec5 .box5 .box5_1 img {
    width: 15%;
  }
  .sec5 .box5 .box5_2 img {
    width: 160%;
    margin: 5px auto;
  }
  .sec5 .p5_3 {
    font-size: 15px;
    width: 99%;
    margin: 7px auto 7px;
  }
  .sec6 .img6 {
    margin: 10px auto 0;
    width: 95%;
  }
  .sec7 {
    height: 190px;
  }
  .sec7 .box7_2 {
    padding: 5px;
  }
  .sec7 .box7_2 .box7_2_1 {
    right: 40px;
  }
  .sec7 .box7_2 .box7_2_2 {
    background: none;
    padding-top: 0;
    width: 99%;
    height: 65px;
  }
  .sec7 .box7_2 .box7_2_2 span {
    font-size: 21px;
  }
  .sec7 .box7_2 .p7 {
    font-size: 12px;
  }
}

@media screen and (max-width: 344px) {
  .sec1 {
    height: 120px;
  }
  .sec1 .text {
    padding-top: 15px;
  }
  .sec3 .box3 {
    display: block;
  }
  .sec3 .box3 .box3_1 {
    width: 99%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 7px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sec3 .box3 .box3_1 .p3_1 {
    font-size: 14px;
    width: 83%;
  }
  .sec3 .box3 .box3_1 .circle {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 30px;
  }
  .sec7 {
    height: 165px;
  }
  .sec7 .box7_2 .box7_2_2 {
    font-size: 18px;
    height: 55px;
  }
  .sec7 .box7_2 .p7 {
    margin-top: 0;
  }
}

footer {
  background: #301e3a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 10px;
}

footer .f_box {
  height: 100%;
}

footer .f_box_1 {
  width: 15%;
  padding-top: 40px;
}

footer .f_box_1 img {
  max-width: 82px;
  width: 90%;
}

footer .f_box_2 {
  width: 60%;
  padding-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer .f_box_2 a:hover {
  color: #fed000;
  text-decoration: underline;
}

footer .f_box_3 {
  width: 25%;
  padding-top: 65px;
}

footer .f_box_3 img {
  width: 90%;
  max-width: 198px;
}

footer p {
  width: 100%;
  color: #aa9ab3;
}

@media screen and (max-width: 1024px) {
  footer .f_box_2 a {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  footer .f_box_1 {
    padding-top: 13px;
    padding-left: 15px;
  }
  footer .f_box_2 {
    padding-top: 45px;
  }
  footer .f_box_2 a {
    font-size: 12px;
  }
  footer .f_box_3 {
    padding-top: 45px;
  }
  footer p {
    font-size: 11px;
  }
}

@media screen and (max-width: 655px) {
  footer {
    display: block;
  }
  footer .f_box_1 {
    display: none;
  }
  footer .f_box_2 {
    padding-top: 10px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
  }
  footer .f_box_3 {
    padding-top: 7px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 344px) {
  footer .f_box_2 {
    display: block;
  }
  footer .f_box_2 a {
    display: block;
  }
  footer .f_box_3 {
    width: 50%;
  }
  footer p {
    font-size: 12px;
  }
}
/*# sourceMappingURL=style.css.map */